{% extends 'base2.html' %}
{% block title %}
	Proyecto_no_registrado
{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="es-PY" >
<head>
<link rel="stylesheet" type="text/css" href="/static/usuario/css/base.css" />

<script type="text/javascript">window.__admin_media_prefix__ = "/static/usuario/";</script>

<meta name="robots" content="NONE,NOARCHIVE" />
</head>

<body class="">

<!-- Container -->
<div id="container">


<div class="breadcrumbs">
<a href="/proyectos/">Proyectos</a>
&rsaquo; Fallo Proyecto
</div>

    <!-- Content -->
    <div id="content" class="colM">


<h1>La fase {{ fase.nombre }} aun no posee Tipos de Item.</h1>

<p> Agreguelos, por favor.</p>
<a class="button" href="/tiposDeItem/registrar/{{ fase.id }}"><li class="icon-eye-open"></li>Agregar Tipo de Item</a>


        <br class="clear" />
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->

</body>
</html>
{% endblock %}