{% extends 'base2.html' %}
{% block title %}
	Proyectos
{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="es-PY" >
<head>
<link rel="stylesheet" type="text/css" href="/static/usuario/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/usuario/css/changelists.css" />

<script type="text/javascript">window.__admin_media_prefix__ = "/static/usuario/";</script>
<script type="text/javascript" src="/static/usuario/js/core.js"></script>
<script type="text/javascript" src="/static/usuario/js/jquery.js"></script>
<script type="text/javascript" src="/static/usuario/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/usuario/js/actions.js"></script>
<meta name="robots" content="NONE,NOARCHIVE" />
</head>


<body class="dashboard">

<!-- Container -->
<div id="container">
    <!-- Content -->
    <div id="content" class="change-list">

        <h1>Administracion de Proyectos</h1>
    <form action="/proyectos/search/" method="get">
        <input type="text" name="busqueda">
        <input type="submit" value="Buscar">
    </form>
<div id="content-main">
<ul class="object-tools">
    <li>
        <a href="/proyectos/registrar" class="addlink">Nuevo Proyecto</a>
    </li>
</ul>



        <div class="results" >
        <table >
        <thead>
        <tr>
            <th scope="col" class="sortable" >
                <div class="text">
                    <a>__Proyectos__</a>
                </div>
            </th>
             <th scope="col">
                <div class="text">
                    <a>__Estado__</a>
                </div>
            </th>
             <th scope="col">
                <div class="text">
                    <a>__Lider__</a>
                </div>
            </th>
             <th scope="col">
                <div class="text">
                    <a>______Inicio______</a>
                </div>
            </th>
            <th scope="col">
                <div class="text">
                    <a>___Finalizacion___</a>
                </div>
            </th>
                        <th scope="col">
                <div class="text">
                    <a>_Opcion_1_</a>
                </div>
            </th>
            <th scope="col">
                <div class="text">
                    <a>_Opcion_2_</a>
                </div>
            </th>
            <th scope="col">
                <div class="text">
                    <a>_Opcion_3_</a>
                </div>
            </th>
            <th scope="col">
                <div class="text">
                    <a>Opcion_4</a>
                </div>
            </th>
                        <th scope="col">
                <div class="text">
                    <a>Opcion_5</a>
                </div>
            </th>
                        <th scope="col">
                <div class="text">
                    <a>____Opcion_6____</a>
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
        {% for dato in datos  %}
            <tr>
                <td>{{ dato.nombre }}</td>
				<td>{{ dato.estado }}</td>
                <td>{{ dato.lider }}</td>
				<td>{{ dato.fecha_ini }}</td>
                <td>{{ dato.fecha_fin }}</td>
                <td><a href="/usuario/edit/{{ user.id }}/" class="button"><i class="icon-eye-open"></i>Detalle</a></td>
                <td><a href="/usuario/edit/{{ user.id }}/" class="button"><i class="icon-pencil"></i>Modificar</a></td>
                <td><a href="/usuario/edit/{{ user.id }}/" class="button"><i class="icon-share"></i>Importar</a></td>
                <td><a href="/usuario/edit/{{ user.id }}/" class="button"><i class=" icon-list-alt"></i>Fases</a></td>
                <td><a href="/usuario/edit/{{ user.id }}/" class="button"><i class="icon-user"></i>Apoyo</a></td>
                <td><a href="/usuario/delete/{{ user.id }}/" class="button"><i class="icon-retweet"></i>Cambiar_Estado</a></td>
            </tr>
        {% endfor %}
        </tbody>






                {% for user in object_list %}
                    <tr class="model-user">
                <th scope="row"><a href="/usuario/edit/{{ user.id }}/">{{ user.username }}</a></th>
                <td><a href="/usuario/delete/{{ user.id }}/" class="deletelink">Eliminar</a></td>
                <td><a href="/usuario/edit/{{ user.id }}/" class="changelink">Modificar</a></td>
                    </tr>
                {% endfor %}
                {% if usuarios %}
                <p>Found {{ usuarios|length }} usuario{{ usuarios|pluralize }}.</p>
                <ul>
                    {% for usuario in usuarios %}
                        <tr class="model-user">
                <th scope="row"><a href="/usuario/edit/{{ user.id }}/">{{ usuario.username }}</a></th>
                <td><a href="/usuario/delete/{{ user.id }}/" class="deletelink">Eliminar</a></td>
                <td><a href="/usuario/edit/{{ user.id }}/" class="changelink">Modificar</a></td>
                    </tr>
                    {% endfor %}
                </ul>
                {% endif %}

        </table>
        </div>


</div>



        <br class="clear" />
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->

</body>
</html>
{% endblock %}

