{% extends 'base.html' %}

{% block title %}
	Registrarse
{% endblock %}


{% block content %}
<!---
<script languaje="JavaScript">
function pulsar() {
alert("Una vez registrado puede pasar al sistema como usuario invitado");
}
</script>---->
    <a href="/">Atras</a>
    <h3 class="alinear1" align="center"> Registro de Usuario</h3>
            <h10 class="alinear1" >
	<form method="POST">{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value="Registrarse" >{% csrf_token %}
	</form>
                </h10>
{% endblock %}