{% extends 'base2.html' %}
{% block title %}
	Sitio administrativo
{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="es-PY" >
<head>
<link rel="stylesheet" type="text/css" href="/static/usuario/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/usuario/css/dashboard.css" />

<script type="text/javascript">window.__admin_media_prefix__ = "/static/usuario/";</script>

<meta name="robots" content="NONE,NOARCHIVE" />
</head>


<body class="dashboard">

<!-- Container -->
<div id="container">
    <!-- Content -->
    <div id="content" class="colMS">
        
        <h1>Administracion de Usuarios</h1>
        
<div id="content-main">


    
        <div class="app-auth module">
        <table >
        <caption>
                Usuario
            <a href="/registrarse/" class="addlink">Añadir</a></a>
        </caption>
        


                {% for user in object_list %}
                    <tr class="model-user">
                <th scope="row"><a href="/usuario/edit/{{ user.id }}/">{{ user.username }}</a></th>
                <td><a href="/usuario/delete/{{ user.id }}/" class="deletelink">Eliminar</a></td>
                <td><a href="/usuario/edit/{{ user.id }}/" class="changelink">Modificar</a></td>
                    </tr>
                {% endfor %}

        
        </table>
        </div>
    

</div>



        <br class="clear" />
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->

</body>
</html>
{% endblock %}