{% extends 'base2.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="es-PY" >
<head>
<title>Escoja usuario a modificar </title>
<link rel="stylesheet" type="text/css" href="/static/usuario/css/base.css" />

  
  <link rel="stylesheet" type="text/css" href="/static/usuario/css/changelists.css" />
  
  
    <script type="text/javascript" src="/admin/jsi18n/"></script>


<script type="text/javascript">window.__admin_media_prefix__ = "/static/usuario/";</script>


<script type="text/javascript" src="/static/usuario/js/core.js"></script>
<script type="text/javascript" src="/static/usuario/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/static/usuario/js/jquery.js"></script>
<script type="text/javascript" src="/static/usuario/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/usuario/js/actions.js"></script>

<script type="text/javascript">
(function($) {
    $(document).ready(function($) {
        $("tr input.action-select").actions();
    });
})(django.jQuery);
</script>


<meta name="robots" content="NONE,NOARCHIVE" />
</head>


<body class="change-list">

<!-- Container -->
<div id="container">


    
<div class="breadcrumbs">
<a href="/siap/">Inicio</a>
&rsaquo; <a href="/usuario/">usuario</a>
&rsaquo; Usuarios
</div>

    

    
        
    

    <!-- Content -->
    <div id="content" class="flex">
        
        <h1>Escoja usuario a modificar</h1>
        
  <div id="content-main">
    
      
        <ul class="object-tools">
          
            <li>
              
              <a href="/admin/auth/user/add/" class="addlink">
                Añadir usuario
              </a>
            </li>
          
        </ul>
      
    
    
    <div class="module filtered" id="changelist">
      

<div id="toolbar"><form id="changelist-search" action="" method="get">
<div><!-- DIV needed for valid HTML -->
<label for="searchbar"><img src="/static/admin/img/icon_searchbox.png" alt="Search" /></label>
<input type="text" size="40" name="q" value="" id="searchbar" />
<input type="submit" value="Buscar" />


</div>
</form></div>
<script type="text/javascript">document.getElementById("searchbar").focus();</script>


      


      
        
          <div id="changelist-filter">
            <h2>Filtro</h2>
            
<h3> Por es staff </h3>
<ul>

    <li class="selected">
    <a href="?">Todo</a></li>

    <li>
    <a href="?is_staff__exact=1">Sí</a></li>

    <li>
    <a href="?is_staff__exact=0">No</a></li>

</ul>

<h3> Por es superusuario </h3>
<ul>

    <li class="selected">
    <a href="?">Todo</a></li>

    <li>
    <a href="?is_superuser__exact=1">Sí</a></li>

    <li>
    <a href="?is_superuser__exact=0">No</a></li>

</ul>

<h3> Por activo </h3>
<ul>

    <li class="selected">
    <a href="?">Todo</a></li>

    <li>
    <a href="?is_active__exact=1">Sí</a></li>

    <li>
    <a href="?is_active__exact=0">No</a></li>

</ul>

          </div>
        
      

      <form id="changelist-form" action="" method="post"><input type='hidden' name='csrfmiddlewaretoken' value='JhndHUe2Di2EZ7MrSpkhRNs38E8jXToN' />
      

      
          
<div class="actions">
    <label>Acción: <select name="action">
<option value="" selected="selected">---------</option>
<option value="delete_selected">Eliminar usuarios seleccionado/s</option>
</select></label><input class="select-across" name="select_across" type="hidden" value="0" />
    <button type="submit" class="button" title="Ejecutar la acción seleccionada" name="index" value="0">Ir</button>
    
        <script type="text/javascript">var _actions_icnt="2";</script>
        <span class="action-counter">seleccionados 0 de 2</span>
        
    
</div>

          


<div class="results">
<table id="result_list">
<thead>
<tr>

<th scope="col"  class="action-checkbox-column">
   
   <div class="text"><span><input type="checkbox" id="action-toggle" /></span></div>
   <div class="clear"></div>
</th>
<th scope="col"  class="sortable column-username sorted ascending">
   
     
       <div class="sortoptions">
         <a class="sortremove" href="?o=" title="Elimina de la ordenación"></a>
         
         <a href="?o=-1" class="toggle ascending" title="Activar la ordenación"></a>
       </div>
     
   
   <div class="text"><a href="?o=-1">Nombre de usuario</a></div>
   <div class="clear"></div>
</th>
<th scope="col"  class="sortable column-email">
   
     
   
   <div class="text"><a href="?o=2.1">Dirección de correo electrónico</a></div>
   <div class="clear"></div>
</th>
<th scope="col"  class="sortable column-first_name">
   
     
   
   <div class="text"><a href="?o=3.1">Nombre</a></div>
   <div class="clear"></div>
</th>
<th scope="col"  class="sortable column-last_name">
   
     
   
   <div class="text"><a href="?o=4.1">Apellidos</a></div>
   <div class="clear"></div>
</th>
<th scope="col"  class="sortable column-is_staff">
   
     
   
   <div class="text"><a href="?o=5.1">Es staff</a></div>
   <div class="clear"></div>
</th>
</tr>
</thead>
<tbody>


<tr class="row1"><td class="action-checkbox"><input class="action-select" name="_selected_action" type="checkbox" value="1" /></td><th><a href="/admin/auth/user/1/">admin</a></th><td>avi.alvarenga5@gmail.com</td><td>&nbsp;</td><td>&nbsp;</td><td><img src="/static/admin/img/icon-yes.gif" alt="True" /></td></tr>


<tr class="row2"><td class="action-checkbox"><input class="action-select" name="_selected_action" type="checkbox" value="17" /></td><th><a href="/admin/auth/user/17/">CAr</a></th><td>abc@siap.com</td><td>Carlos</td><td>Alvarez</td><td><img src="/static/admin/img/icon-no.gif" alt="False" /></td></tr>

</tbody>
</table>
</div>


          
      
      

<p class="paginator">

2 usuarios


</p>

      </form>
    </div>
  </div>

        
        <br class="clear" />
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->

</body>
</html>
{% endblock %}