
{% extends 'base2.html' %}
{% block title %}
Nueva_Solicitud
{% endblock %}
{% block content %}
    <head>
<link rel="stylesheet" type="text/css" href="/static/usuario/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/usuario/css/forms.css" />

</head>
    <div class="breadcrumbs">
    <a href="/desarrollo/item/listar/{{ titem }}">Administracion de Item</a>
    "> Nueva Solicitud"
    </div>

                <div id="content">
                <h1>Crear Solicitud</h1>
       <fieldset class="module aligned wide">
<form method="post">{% csrf_token %}
    <div class="form-row">
    {{ formulario.as_p }}
         <br>

        <div><strong>Proyecto: </strong>{{ proyecto.nombre }}</div>
        <div><strong>Fase: </strong>{{ fase.nombre }}</div>
        <div><strong>Item: </strong>{{ item.nombre }}</div>
        <div><strong>Costo total de la modificacion: </strong><div style="color: red"> {{ costo }}</div></div>
        <div><strong>Tiempo total de la modificacion: </strong><div style="color: red"> {{ tiempo }}</div></div>
        </div>
    <div class="submit-row">
    <input type="submit" value="Confirmar" />
        </div>
</form>
            </fieldset>
                    </div>

{% endblock %}
