
{% extends 'base2.html' %}
{% block title %}
Nueva_Solicitud
{% endblock %}
{% block content %}
    <head>
<link rel="stylesheet" type="text/css" href="/static/usuario/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/usuario/css/forms.css" />

</head>
    <div class="breadcrumbs">
    <a href="/solicitudes/listar/">Solicitudes</a>
    "> Votar Solicitud"
    </div>

                <div id="content">
                <h1>votar Solicitud</h1>
       <fieldset class="module aligned wide">
<form method="post">{% csrf_token %}
    <div class="form-row">
    <!---{{ formulario.as_p }}--->
         <form  method='post' action='' enctype="multipart/form-data">{% csrf_token %}{{formulario.as_p}}
        <br>
        <div><strong>Motivo: </strong>{{ solicitud.descripcion }}</div>
        <div><strong>Solicitante: </strong>{{ solicitud.usuario.first_name }} {{ solicitud.usuario.last_name }}</div>
        <div><strong>Proyecto: </strong>{{ solicitud.proyecto.nombre }}</div>
        <div><strong>Fase: </strong>{{ solicitud.item.tipo_item.fase.nombre }}</div>
        <div><strong>Item: </strong>{{ solicitud.item.nombre }}</div>
        <div><strong>Costo total de la modificacion: </strong><div style="color: red"> {{ solicitud.costo }}</div></div>
        <div><strong>Tiempo total de la modificacion: </strong><div style="color: red">{{ solicitud.tiempo }}</div></div>

        <p><input type='submit' value='Votar'/></p>

	</form>
        </div>
  <!--  <div class="submit-row">
    <input type="submit" value="Confirmar" />
        </div> --->
</form>
            </fieldset>
                    </div>

{% endblock %}
