{% extends 'base2.html' %}
{% block title %}
	Nuevo_Item
{% endblock %}
{% block content %}
    <head>
<link rel="stylesheet" type="text/css" href="/static/usuario/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/usuario/css/forms.css" />

</head>
    <div class="breadcrumbs">
        <a href="/desarrollo/proyectos/">Proyecto {{ proyecto.nombre }}</a> >>>>
        <a href="/desarrollo/proyectos/fases/{{ proyecto.id }}">Fase en Ejecucion {{ fase.nombre }}</a> >>>
        <a href="/lineaBase/listar/{{fase.id }}" > Linea Base</a> >
        "Crear Item"
    </div>

                <div id="content">
                <h1>Crear Linea Base</h1>
       <fieldset class="module aligned wide">
<form method='post' action='' enctype="multipart/form-data">{% csrf_token %}
    <div class="form-row" >
    	{{formulario.as_p}}
        <br>

    </div>

    <div class="submit-row">
    <input type="submit" value="Confirmar" />
        </div>
</form>
            </fieldset>
                    </div>

{% endblock %}